.footer {
    line-height: 32px;
    letter-spacing: 0.03em;
    position: relative;
    padding: 100px 0;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-description {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}

.social-links-list {
    display: flex;
    justify-content: space-between;
}

.middle-orange {
    top: 40%;
    left: 15%;
    position: absolute;
    rotate: 135deg;
}