/* Global styles */

html, body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: #000;
    outline: none;
}

body::-webkit-scrollbar {
    width: 0.438rem;
    padding: 20px 0;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgba(207, 199, 199, 0.9);
    border-radius: 3px;
} 

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap');

/* Content */

.form-container {
    width: 80%;
    margin: 0  auto;
}

.add-user-form {
    width: 55%;
    margin: 0  auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.user-attribute-container  {
    margin-bottom: 1.5rem;
}

.user-attribute-label {
    padding-bottom: 0.5rem;
    font-size: .99rem;
}

.required {
    font-size: 1.1rem;
    color: red;
}

.user-attribute-field {
    width: 100%;
    outline: none;
    font-size: 1.15rem;
    height: 1.4em;
    padding: 0.45em;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 5px;
}

.buttons-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.action-button-reg {
    width: 47%;
    padding: 8px 12px;
    appearance: none;
    border: 1px solid transparent;
    background-color: hsl(103, 59%, 39%);
    border-radius: 5px;
    outline: none;
    transition: all .4s ease;
    color: #fff;
    font-size: 1.15rem;
}

.action-button-reg:hover {
    background-color: hsl(103, 60%, 35%);
}

.action-button-auth {
    width: 47%;
    padding: 8px 12px;
    appearance: none;
    border: 1px solid transparent;
    background-color: hsl(103, 59%, 39%);
    border-radius: 5px;
    outline: none;
    transition: all .4s ease;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.15rem;
}

.action-button-auth:hover {
    background-color: hsl(103, 60%, 35%);
}