<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/account.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <title>Your Account</title>
</head>
<body>
    <header class="header">
        <div class="logo-activities">
            <div class="logo">
                <a href="/main" class="home-link link">
                    <img src="/logo.svg" alt="logotype" class="logo-img">
                </a>
            </div>
            <div class="activities">
                <ul class="activities-list">
                    <li class="acivities-item"><a href="/shop" class="acivities-item-link link">Shop</a></li>
                </ul>
            </div>
        </div>
        <div class="acount-activities">
            <a href="/cart" class="cart-link link">
                <div class="cart-block">
                    <img src="/cart-logo.svg" alt="cart" class="cart-logo">
                </div>
            </a>
        </div>
    </header>

    

</body>
</html>