<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/add-product.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/hideMessage.js"></script>
    <title>Add product</title>
</head>
<body>
    <header class="header">
        <div class="logo-activities">
            <div class="logo">
                <a href="/main" class="home-link link">
                    <img src="/logo.svg" alt="logotype" class="logo-img">
                </a>
            </div>
            <div class="activities">
                <ul class="activities-list">
                    <li class="acivities-item"><a href="/shop" class="acivities-item-link link">Shop</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="form-container">
        <form action="/managers-panel/add-product" class="add-product-form" method="post" enctype = "multipart/form-data">
            <div class="product-attribute-container">
                <label for="Name" class="product-attribute-label">Product Name <span class="required">*</span></label>
                <input type="text" name="Name" class="product-attribute-field name-field" placeholder="Product Name" required>
                <% if (message != '') { %>
                    <div class="message-container error">
                        <p class="message">
                            <%= message %>
                        </p>
                    </div>
                <% } %>
            </div>
            <div class="product-attribute-container">
                <label for="Description" class="product-attribute-label">Product Description <span class="required">*</span></label>
                <textarea type="text" name="Description" class="description-field product-attribute-field" placeholder="Product Description" required></textarea>
            </div>
            <div class="product-attribute-container">
                <label for="Price" class="product-attribute-label">Product Price (Per Unit) <span class="required">*</span></label>
                <input type="number" min="0" placeholder="0" name="Price" class="product-attribute-field" placeholder="Product Price (Per Unit)" required>
            </div>
            <div class="product-attribute-container">
                <label for="Count" class="product-attribute-label">Quantity of goods in stock (in pieces) <span class="required">*</span></label>
                <input type="number" min="0" placeholder="0" name="Count" class="product-attribute-field" placeholder="Quantity of goods in stock (in pieces)" required>
            </div>
            <div class="product-attribute-container">
                <label for="Image" class="product-attribute-label">Product photo <span class="required">*</span></label>
                <input type="file" name="Image" accept=".jpg" class="product-attribute-field picture-input" placeholder="Product photo (max 5 images)" required>
            </div>
            <div class="buttons-container">
                <button type="submit" class="action-button-add btn">Add</button>
                <a href="/managers-panel/all-products" class="action-button-decline btn">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>
