<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signin-up.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <script src="/hideMessage.js" defer></script>
    <title>Sign In</title>
</head>
<body>
    <header class="header">
        <div class="logo-activities">
            <div class="logo">
                <a href="/main" class="home-link link">
                    <img src="/logo.svg" alt="logotype" class="logo-img">
                </a>
            </div>
            <div class="activities">
                <ul class="activities-list">
                    <li class="acivities-item"><a href="/shop" class="acivities-item-link link">Shop</a></li>
                </ul>
            </div>
        </div>
    </header>
    <% if (message != '' && message == "A user with this username was not found") { %>
        <div class="message-container error">
            <p class="message">
                <%= message %>
            </p>
        </div>
    <% } %>
    <div class="form-container">
        <div class="page-title-container">
            <p class="page-title">Sign in</p>
        </div>
        <form action="" class="add-user-form" method="post">
            <div class="user-attribute-container">
                <label class="user-attribute-label" for="Email">Email</label>
                <input type="email" class="user-attribute-field" name="Email" required>
            </div>
            <div class="user-attribute-container">
                <label class="user-attribute-label" for="Password">Password</label>
                <input type="password" class="user-attribute-field" name="Password" required>
                <% if (message != '' && message == "Incorrect login or password!") { %>
                    <div class="message-container error">
                        <p class="message">
                            <%= message %>
                        </p>
                    </div>
                <% } %>
            </div>
            <div class="buttons-container">
                <button type="submit" class="action-button-reg">sign in</button>
                <a href="/signup" class="action-button-auth">No account? Sign up</a>
            </div>
        </form>
    </div>
</body>
</html>