<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reg.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <title>Authorization</title>
</head>
<body>
    <header class="header">
        <div class="logo-activities">
            <div class="logo">
                <a href="/main" class="home-link link">
                    <img src="/logo.svg" alt="logotype" class="logo-img">
                </a>
            </div>
            <div class="activities">
                <ul class="activities-list">
                    <li class="acivities-item"><a href="/shop" class="acivities-item-link link">Магазин</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="form-container">
        <form action="/authorize/auth" class="add-user-form" method="get">
            <div class="user-attribute-container">
                <label class="user-attribute-label" for="Name">Login <span class="required">*</span></label>
                <input type="text" class="user-attribute-field" name="Name" required>
            </div>
            <div class="user-attribute-container">
                <label class="user-attribute-label" for="Password">Password <span class="required">*</span></label>
                <input type="password" class="user-attribute-field" name="Password" required>
            </div>
            <div class="buttons-container">
                <button type="submit" class="action-button-reg">sign in</button>
                <a href="/auth" class="action-button-auth">Reg</a>
            </div>
        </form>
    </div>
</body>
</html>