<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>Main</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="vis-banner">
            <div class="vis-banner-content">
                <img src="/mini-green-leaf.svg" alt="leaf" class="mini-leaf">
                <p class="title">reform juice</p>
                <h1 class="ref-juice-desc">A Natural healthy <br/>
                 way to support <br/>
                 your immune system</h1>
                <a href="/shop" class="shop-link link">Shop Now</a>
                <img src="/mini-green-leaf.svg" alt="leaf" class="mini-leaf-1">
            </div>
            <div class="vis-banner-content">
                <img src="/fruit-juice-main-pic.svg" alt="fresh juice" class="main-juice">
            </div>
        </div>
        <div class="about-juice-container">
            <div class="about-juice">
                <p class="about-juice-title animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.1s">product story</p>
                <h1 class="about-juice-main-title animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.3s">What is the juice?</h1>
                <p class="about-juice-main-text animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.5s">
                    100% juice are produced from concentrated process, some
                    of the water from the crushed juice. This way all the
                    minerals and vitamins are concealed in the juice box for
                    your later consumption.
                </p>
            </div>
            <img src="/middle-green-leaf.svg" alt="leaf" class="fruit-image-1 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
            <img src="/middle-green-leaf.svg" alt="leaf" class="fruit-image-2 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
            <img src="/pineapple.svg" alt="pineapple" class="fruit-image-3 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
            <img src="/orange.svg" alt="orange" class="fruit-image-4 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
        </div>
        <div class="our-product">
            <h1 class="product-range animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.1s">Our product range</h1>
            <div class="product-cards-mini-block">
                <div class="product-card-mini-block animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.1s">
                    <img src="tiger-milk.svg" alt="product" class="product-image">
                    <p class="product-name">Tiger Nut Milk</p>
                </div>
                <div class="product-card-mini-block animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.2s">
                    <img src="tiger-milk.svg" alt="product" class="product-image">
                    <p class="product-name">Tiger Nut Milk</p>
                </div>
                <div class="product-card-mini-block animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.3s">
                    <img src="tiger-milk.svg" alt="product" class="product-image">
                    <p class="product-name">Tiger Nut Milk</p>
                </div>
            </div>
            <div class="shop-link-container animate__animated animate__fadeInUp wow">
                <a href="/shop" class="shop_link-2 link">Shop Now</a>
            </div>
            <img src="/little-orange.svg" alt="mini-orange" class="little-orange">
            <img src="/little-pineapple.svg" alt="mini-orange" class="little-pineapple">
        </div>
        <div class="partners-block">
            <div class="partners-block-first">
                <div class="partner-logo-block"><img src="/bni-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/permata-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/master-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/danamon-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/visa-logo.svg" alt="partner" class="partner-logo"></div>
            </div>
            <div class="partners-block-second">
                <div class="partner-logo-block"><img src="/mandiri-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/kredivo-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/uob-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/gopay-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/standard-logo.svg" alt="partner" class="partner-logo"></div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="/wow.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>