<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>Main</title>
</head>
<body>
    <header class="header">
        <div class="logo-activities">
            <div class="logo">
                <a href="/main" class="home-link link">
                    <img src="/logo.svg" alt="logotype" class="logo-img">
                </a>
            </div>
            <div class="activities">
                <ul class="activities-list">
                    <li class="acivities-item"><a href="/shop" class="acivities-item-link link">Shop</a></li>
                </ul>
            </div>
        </div>
        <div class="acount-activities">
            <a href="/error" class="cart-link link">
                <div class="cart-block">
                    <img src="/cart-logo.svg" alt="cart" class="cart-logo">
                </div>
            </a>
            <% if (hasToken) { %>
                <div class="account-block-icon">
                    <a href="/account" class="account-link link">acc</a>
                </div>
            <% } else { %>
                <div class="account-block">
                    <a href="/signin" class="account-link link">Sign in</a>
                </div>
            <% } %>
        </div>
    </header>
    <div class="content">
        <div class="vis-banner">
            <div class="vis-banner-content">
                <img src="/mini-green-leaf.svg" alt="leaf" class="mini-leaf animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.3s">
                <p class="title animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.3s">reform juice</p>
                <h1 class="ref-juice-desc animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.5s">A Natural healthy <br/>
                 way to support <br/>
                 your immune system</h1>
                <a href="/shop" class="shop-link link animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.7s">Shop Now</a>
                <img src="/mini-green-leaf.svg" alt="leaf" class="mini-leaf-1 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.7s">
            </div>
            <div class="vis-banner-content animate__animated animate__fadeInRight wow" data-wow-duration="1s" data-wow-delay="0.3s">
                <img src="/fruit-juice-main-pic.svg" alt="fresh juice" class="main-juice">
            </div>
        </div>
        <div class="about-juice-container">
            <div class="about-juice">
                <p class="about-juice-title animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.1s">product story</p>
                <h1 class="about-juice-main-title animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.3s">What is the juice?</h1>
                <p class="about-juice-main-text animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.5s">
                    100% juice are produced from concentrated process, some
                    of the water from the crushed juice. This way all the
                    minerals and vitamins are concealed in the juice box for
                    your later consumption.
                </p>
            </div>
            <img src="/middle-green-leaf.svg" alt="leaf" class="fruit-image-1 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
            <img src="/middle-green-leaf.svg" alt="leaf" class="fruit-image-2 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
            <img src="/pineapple.svg" alt="pineapple" class="fruit-image-3 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
            <img src="/orange.svg" alt="orange" class="fruit-image-4 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="0.1s">
        </div>
        <div class="our-product">
            <h1 class="product-range animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.1s">Our product range</h1>
            <div class="product-cards-mini-block">
                <div class="product-card-mini-block animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.1s">
                    <img src="tiger-milk.svg" alt="product" class="product-image">
                    <p class="product-name">Tiger Nut Milk</p>
                </div>
                <div class="product-card-mini-block animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.2s">
                    <img src="tiger-milk.svg" alt="product" class="product-image">
                    <p class="product-name">Tiger Nut Milk</p>
                </div>
                <div class="product-card-mini-block animate__animated animate__fadeInUp wow" data-wow-duration="1s" data-wow-delay="0.3s">
                    <img src="tiger-milk.svg" alt="product" class="product-image">
                    <p class="product-name">Tiger Nut Milk</p>
                </div>
            </div>
            <div class="shop-link-container animate__animated animate__fadeInUp wow">
                <a href="/shop" class="shop_link-2 link">Shop Now</a>
            </div>
            <img src="/little-orange.svg" alt="mini-orange" class="little-orange">
            <img src="/little-pineapple.svg" alt="mini-orange" class="little-pineapple">
        </div>
        <div class="partners-block">
            <div class="partners-block-first">
                <div class="partner-logo-block"><img src="/bni-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/permata-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/master-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/danamon-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/visa-logo.svg" alt="partner" class="partner-logo"></div>
            </div>
            <div class="partners-block-second">
                <div class="partner-logo-block"><img src="/mandiri-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/kredivo-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/uob-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/gopay-logo.svg" alt="partner" class="partner-logo"></div>
                <div class="partner-logo-block"><img src="/standard-logo.svg" alt="partner" class="partner-logo"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="footer-description list">
            <li class="description-section">
                <div class="address-block">
                    <h3 class="first-section-title">Get in touch</h3>
                    <h3 class="address-block-title">Address</h3>
                    <p class="address-block-text">Store & Office <br/> 234 Lekki Epe express way</p>
                </div>
                <div class="office-hour">
                    <h3 class="address-block-title">Office Hour</h3>
                    <p class="address-block-text">Monday - Sunday <br/> 10.00 - 18.00</p>
                </div>
            </li>
            <li class="description-section">
                <div class="Service-center">
                    <h3 class="address-block-title">Service Center</h3>
                    <p class="address-block-text">0811-233-8899</p>
                </div>
                <div class="customer-service">
                    <h3 class="address-block-title">Customer Service</h3>
                    <p class="address-block-text">0811-235-9988</p>
                </div>
                <div class="social-links">
                    <ul class="social-links-list list">
                        <li class="social-link-item">
                            <a href="https://www.facebook.com/" target="_blank" class="social-link"><img src="/Facebook.svg" alt="social" class="social-link-img"></a>
                        </li>
                        <li class="social-link-item">
                            <a href="https://www.instagram.com/" target="_blank" class="social-link"><img src="/Instagram.svg" alt="social" class="social-link-img"></a>
                        </li>
                        <li class="social-link-item">
                            <a href="https://www.twitter.com/" target="_blank" class="social-link"><img src="/Twitter.svg" alt="social" class="social-link-img"></a>
                        </li>
                        <li class="social-link-item">
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="social-link"><img src="/Youtube.svg" alt="social" class="social-link-img"></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="description-section">
                <div class="useful-link">
                    <h3 class="usefull-link-title">Usefull Link</h3>
                    <ul class="usefull-link-list list">
                        <li class="usefull-link-item">Reform Juice</li>
                        <li class="usefull-link-item">Order & Shipping</li>
                        <li class="usefull-link-item">Tracking Order</li>
                        <li class="usefull-link-item">About Us</li>
                        <li class="usefull-link-item">Repair</li>
                        <li class="usefull-link-item">Terms</li>
                        <li class="usefull-link-item">FAQ</li>
                    </ul>
                </div>
            </li>
        </ul>
        <img src="/orange.svg" alt="orange" class="middle-orange">
    </footer>
    <script src="/wow.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>