<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signin-up.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="icon" type="images/png" href="/leaf-icon.png"/>
    <script src="/hideMessage.js" defer></script>
    <title>Sign up</title>
</head>
<body>
    <header class="header">
        <div class="logo-activities">
            <div class="logo">
                <a href="/main" class="home-link link">
                    <img src="/logo.svg" alt="logotype" class="logo-img">
                </a>
            </div>
            <div class="activities">
                <ul class="activities-list">
                    <li class="acivities-item"><a href="/shop" class="acivities-item-link link">Shop</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="form-container">
        <div class="page-title-container">
            <p class="page-title">Sign up</p>
            <% if (message != '' && message == "Oops, something went wrong...") { %>
                <div class="message-container error">
                    <p class="message">
                        <%= message %>
                    </p>
                </div>
            <% } %>
        </div>
        <form action="/signup" class="add-user-form" method="post">
            <div class="user-attribute-container">
                <label class="user-attribute-label" for="Email">Email <span class="required">*</span></label>
                <input type="email" class="user-attribute-field" name="Email" required>
                <% if (message != '' && message == "This login is already occupied (´。＿。｀)") { %>
                    <div class="message-container error">
                        <p class="message">
                            <%= message %>
                        </p>
                    </div>
                <% } %>
            </div>
            <div class="user-attribute-container">
                <label class="user-attribute-label" for="Password">Password <span class="required">*</span></label>
                <input type="password" class="user-attribute-field" name="Password" required>
            </div>
            <div class="user-attribute-container">
                <label class="user-attribute-label" for="ConfirmPassword">Confirm Password <span class="required">*</span></label>
                <input type="password" class="user-attribute-field" name="ConfirmPassword" required>
                <% if (message != '' && message == "Passwords don't match!") { %>
                    <div class="message-container error">
                        <p class="message">
                            <%= message %>
                        </p>
                    </div>
                <% } %>
            </div>
            <div class="buttons-container">
                <button type="submit" class="action-button-reg">Sign up</button>
                <a href="/signin" class="action-button-auth">Have an account? Sign in</a>
            </div>
        </form>
    </div>
</body>
</html>