<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth" class="add_user" method="post">
        <input type="text" class="user_field" name="Name" placeholder="name">
        <input type="text" class="user_field" name="Role" placeholder="role">
        <input type="password" class="user_field" name="Password" placeholder="password">
        <button type="submit">Reg</button>
    </form>
</body>
</html>